<ion-content [fullscreen]="true">
  <div class="login-page">
    <div class="login-screen">

      

      <div class="content-container">
        <!-- Find It Logo -->
        <img src="assets/find-it-logo.png" alt="Find It Logo" class="logo-image" />

        <!-- Form Fields -->
        <form class="login-form">
          <input type="text" class="input-field" placeholder="Username / Email" />
          <input type="password" class="input-field" placeholder="Password" />

          <!-- Forgot Password Link -->
          <div class="forgot-wrapper">
            <a class="forgot-link">Forgot Password?</a>
          </div>

          <!-- Login Button -->
          <div class="button-row">
  <button
  class="login-button"
  (click)="goToHome()"
  [disabled]="isLoading"
>
  <span *ngIf="!isLoading">Login</span>
  <span *ngIf="isLoading" class="loader"></span>
</button>
</div>
        </form>
      </div>

    </div>
  </div>
</ion-content>